<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartBank Pro</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>

<nav>

    <div class="logo">
        <i class="fa-solid fa-building-columns"></i>
        SmartBank Pro
    </div>

    <ul>

        <li><a href="#">Home</a></li>

        <li><a href="#">Services</a></li>

        <li><a href="#">About</a></li>

        <li><a href="#">Login</a></li>

        <li><a href="#">Register</a></li>

    </ul>

</nav>

<section class="hero">

    <h1>Next Generation Smart Banking</h1>

    <p>
        Secure • Intelligent • Fast • Trusted
    </p>

    <div class="buttons">

        <button class="primary">
            Open Account
        </button>

        <button class="secondary">
            Learn More
        </button>

    </div>

</section>

<section class="features">

    <div class="card">

        <i class="fa-solid fa-wallet"></i>

        <h2>Digital Banking</h2>

        <p>
            Manage your money anytime, anywhere.
        </p>

    </div>

    <div class="card">

        <i class="fa-solid fa-robot"></i>

        <h2>AI Assistant</h2>

        <p>
            Get intelligent financial insights.
        </p>

    </div>

    <div class="card">

        <i class="fa-solid fa-shield-halved"></i>

        <h2>Bank-Level Security</h2>

        <p>
            Your money is protected with modern security.
        </p>

    </div>

</section>

<footer>

    © 2026 SmartBank Pro | Designed by Jagannath

</footer>

</body>
</html>