{% extends "base.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-lg-8">

            <div class="card shadow-lg">

                <div class="card-header bg-primary text-white">

                    <h3 class="mb-0">
                        <i class="fa-solid fa-user-circle"></i>
                        My Profile
                    </h3>

                </div>

                <div class="card-body">

                    <div class="text-center mb-4">

                        <img src="https://ui-avatars.com/api/?name={{ user.full_name }}&background=0D6EFD&color=fff&size=150"
                             class="rounded-circle border"
                             width="150"
                             height="150">

                    </div>

                    <table class="table table-bordered">

                        <tr>
                            <th>Full Name</th>
                            <td>{{ user.full_name }}</td>
                        </tr>

                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>

                        <tr>
                            <th>Phone Number</th>
                            <td>{{ user.phone }}</td>
                        </tr>

                        <tr>
                            <th>Account Number</th>
                            <td>{{ user.account.account_number }}</td>
                        </tr>

                        <tr>
                            <th>Account Balance</th>
                            <td>₹{{ "%.2f"|format(user.account.balance) }}</td>
                        </tr>

                    </table>

                    <div class="text-center mt-4">

                        <a href="{{ url_for('dashboard') }}"
                           class="btn btn-primary">

                            <i class="fa-solid fa-house"></i>
                            Dashboard

                        </a>
                        
                        <a href="{{ url_for('edit_profile') }}"
                            class="btn btn-warning">
                            <i class="fa-solid fa-pen"></i>
                            Edit Profile
                        </a>

                        <a href="{{ url_for('change_password') }}"
                            class="btn btn-danger">
                            🔒 Change Password
                        </a>

                        
                        <a href="{{ url_for('logout') }}"
                           class="btn btn-danger">

                            <i class="fa-solid fa-right-from-bracket"></i>
                            Logout

                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}